appdirs==1.4.4
dataclasses-json==0.5.7
faiss-cpu==1.7.4
langchain==0.0.148
marshmallow==3.19.0
marshmallow-enum==1.5.1
mypy-extensions==1.0.0
nltk==3.8.1
numexpr==2.8.4
openai==0.27.4
openapi-schema-pydantic==1.2.4
promptlayer==0.1.80
sentence-transformers==2.2.2
SQLAlchemy==1.4.47
torch==1.13.0
typing-inspect==0.8.0
wandb==0.15.0
